frontend/node_modules
frontend/package-lock.json
frontend/.next
frontend/.env

backend/.env
backend/node_modules
backend/package-lock.json

frontend/public/singlevideo.json
frontend/public/pageData.json