frontend/node_modules
frontend/package-lock.json
frontend/.next
frontend/.env

backend/mvnw
backend/mvnw.cmd
backend/src/main/resources/application.properties
backend/.mvn
backend/target

frontend/public/singlevideo.json
frontend/public/pageData.json
frontend/public/histroyData.json

.vscode