* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--white-light-color);
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --light-dark-color: #c3c3c3;
  --dark-color: #2b2b2b;
  --white-light-color: #f6f6f6;
  --white-color: #ffffff;
  --black-color: #000000;
  --error-color: #dd2c00;
  --primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --dark-primary-color: #303f9f;
  --accent-color: #ff4081;
  --light-accent-color: #ff80ab;
  --dark-accent-color: #f50057;
  --light-theme-background-color: #fff;
  --light-theme-base-color: #000;
  --light-theme-text-color: #212121;
  --light-theme-secondary-color: #737373;
  --light-theme-disabled-color: #9b9b9b;
  --light-theme-divider-color: #dbdbdb;
  --dark-theme-background-color: #212121;
  --dark-theme-base-color: #fff;
  --dark-theme-text-color: #fff;
  --dark-theme-secondary-color: #bcbcbc;
  --dark-theme-disabled-color: #646464;
  --dark-theme-divider-color: #3c3c3c;
}
