.videocard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: -webkit-fill-available;
}
.videocard_imgBox {
  display: flex;
  position: relative;
  padding: 0;
  height: 110px;
}
.videocard_imgBox > img {
  height: 110px;
  width: 190px;
  border-radius: 10px;
}
.videocard_imgBox > img:hover {
  border-radius: 0px;
}
.videocard_imgBox > p {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 6px;
  right: 4px;
  background-color: var(--dark-color);
  padding: 0.1rem 0.1rem;
  border-radius: 2px;
  z-index: 1;
  color: white;
  font-size: 0.8rem;
}
.videocard_info {
  display: flex;
  gap: 0.7rem;
  margin-top: 0.7em;
}
.videocard_text {
  display: flex;
  flex-direction: column;
}
.viewsAndTime {
  display: flex;
  gap: 0.4em;
  flex-wrap: wrap;
}
.videocard_text > h5 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 0.3rem;
  line-height: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.videocard_text p {
  font-size: 11px;
  color: gray;
  margin: 0;
  padding: 0;
}
.videocard_text h5 {
  color: #000;
}
