.container {
  height: 93vh;
  display: flex;
  overflow-y: scroll;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: -webkit-fill-available;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex: 5;
}
.top {
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: -webkit-fill-available;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 3;
  gap: 2rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 920px) {
  .box {
    flex-direction: column;
  }
}
