.container {
  height: 93vh;
  overflow-y: scroll;
  padding-left: 0.25rem;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 0.25rem;
}
.section > h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  padding-bottom: 0.25rem;
  text-transform: capitalize;
}
.elements > a {
  all: unset;
  width: -webkit-fill-available;
}
.elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: -webkit-fill-available;
}
.element {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
  padding: 0.8rem;
  border: 1px solid var(--light-dark-color);
  width: -webkit-fill-available;
  border-radius: 10px;
  padding-left: 1.5rem;
}
.element:hover {
  background-color: var(--light-dark-color);
  cursor: pointer;
  color: #cc0000;
}
.element:hover > .icon {
  scale: 1.2;
  color: #cc0000;
}
.name {
  font-size: 1rem;
  text-transform: capitalize;
}
